<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="cordova.plugin.office" version="1.0.0">
   <name>office</name>
   <js-module name="office" src="www/office.js">
      <clobbers target="cordova.plugins.office" />
   </js-module>
   <platform name="android">
      <config-file parent="/*" target="res/xml/config.xml">
         <feature name="office">
            <param name="android-package" value="cordova.plugin.office.office" />
         </feature>
      </config-file>
      <config-file parent="/*" target="AndroidManifest.xml" />
      <source-file src="src/android/office.java" target-dir="src/cordova/plugin/office/office" />
   </platform>
   <platform name="ios">
      <config-file parent="/*" target="config.xml">
         <feature name="office">
            <param name="ios-package" value="office" />
         </feature>
      </config-file>
      <source-file src="src/ios/office.m" />
   </platform>
</plugin>